@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: #F9EEFF;
   position: relative;
}
.header{
   width: 100vw;
   min-height: 35vh;
   background-image: url("assets/images/background-pattern-desktop.svg");
   background-size:cover;
}
.container{
   position: absolute;
   background: white;
   top: 20%;
   width: 40em;
   left: 28%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Heebo', sans-serif;
   border-radius: 20px;
}
.container h1{
   font-size: 2.2em;
   color: #37163C;
}
.question{
   margin: 1.5em;
}
.head-quest{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.question h2{
   font-size: 1.5em;
   color: #37163C;
}
.question button{
   border: none;
   background: none;
   cursor: pointer;
}
.question img{
   display: flex;
   justify-content: flex-end;
}
.question p{
   width: 100%;
   font-size: 1em;
   color: #9D939E;
   margin-right: 1.5em;
   text-align: justify;
   display: none;
   overflow: hidden;
   align-self:baseline
}
@media (max-width: 1024px){
   .container{
      left: 15vw;
      width: 70vw;
   }
}
@media (max-width: 375px){
   .container{
      font-size: 0.6em;
      text-align:center;
   }
}
